body{
    background-color: black;
}

#btn{
    height: 40px;
    width: 150px;
    background-color: green;
    border-radius: 15px;
    font-size: 20px;
    font-family: monospace;
    font-weight: 600;
    border: 2px solid white;
}

#btn:hover{
    background-color: greenyellow;
    cursor: pointer;
}

.center{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    padding-top: 60px;
}